Web References/GET_MATERIAL_FROM_TAG/TR_GET_MATERIAL_FROM_TAG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://www.sap.com/xMII" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.sap.com/xMII" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/xMII">
      <s:complexType name="InputParams">
        <s:sequence id="InputSequence">
          <s:element minOccurs="0" maxOccurs="1" name="TAGID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="XacuteRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InputParams" type="s0:InputParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Rowset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Row" type="s0:Row" />
        </s:sequence>
        <s:attribute name="Message" type="s:string" />
      </s:complexType>
      <s:complexType name="Row">
        <s:sequence id="RowSequence">
          <s:element minOccurs="1" maxOccurs="1" name="RETURN" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="XacuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Rowset" type="s0:Rowset" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="XacuteSoapIn">
    <part name="parameters" element="s0:XacuteRequest" />
  </message>
  <message name="XacuteSoapOut">
    <part name="parameters" element="s0:XacuteResponse" />
  </message>
  <portType name="XacuteWSSoap">
    <operation name="Xacute">
      <input message="s0:XacuteSoapIn" />
      <output message="s0:XacuteSoapOut" />
    </operation>
  </portType>
  <binding name="XacuteWSSoap" type="s0:XacuteWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Xacute">
      <soap:operation soapAction="http://www.sap.com/xMII" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="XacuteWS">
    <port name="XacuteWSSoap" binding="s0:XacuteWSSoap">
      <soap:address location="http://10.192.37.19:50000/XMII/SOAPRunner/RFID/TR_GET_MATERIAL_FROM_TAG" />
    </port>
  </service>
</definitions>